@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './editable-cell.scss';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: hsla(0, 0%, 100%, .6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(95, 95, 95, .4);
  transition: all .2s;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}
div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.relative-wrap {
  position: relative;
  .absolute-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  i.absolute-wrap {
    padding: 0 6px;
    cursor: pointer;
    font-size: 22px;
  }
}
.content-screenfull {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh!important;
  margin: 0 !important;
  padding: 0 20px !important;
  background-color: white;
  z-index: 1005;
  overflow-y: auto;
}
.ProDialogFullscreen {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 20px;
  right: 42px;
  font-size: 16px;
  color: #909399;
  cursor: pointer;
}
// pro table btn
.table-operator {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .table-setting {
    font-size: 22px;
    i {
      padding: 0 6px;
      cursor: pointer;
    }
    i:last-child {
      padding-right: 0;
    }
    i:hover {
      color: #409EFF;
    }
  }
}
// transition draggable
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
